{% extends "base.html.twig" %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Album Image
                </th>
                <th scope="col">Track Name
                </th>
                <th scope="col">Track Popularity
                </th>
                <th scope="col">Danceability
                </th>
                <th scope="col">Energy
                </th>
                <th scope="col">Key
                </th>
                <th scope="col">Loudness
                </th>
                <th scope="col">Mode
                </th>
                <th scope="col">Speechiness
                </th>
                <th scope="col">Acousticness
                </th>
                <th scope="col">Instrumentalness
                </th>
                <th scope="col">Liveness
                </th>
                <th scope="col">Valence
                </th>
                <th scope="col">Tempo
                </th>
                <th scope="col">Time Signature
                </th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr>
                    <th scope="row"><img src="{{ track.track.album.images.2.url }}" />
                    </th>
                    <td>{{ track.track.name }}
                    </td>
                    <td>{{ track.track.popularity }}
                    </td>
                    <td>{{ track.features.danceability }}
                    </td>
                    <td>{{ track.features.energy }}
                    </td>
                    <td>{{ track.features.key }}
                    </td>
                    <td>{{ track.features.loudness }}
                    </td>
                    <td>{{ track.features.mode }}
                    </td>
                    <td>{{ track.features.speechiness }}
                    </td>
                    <td>{{ track.features.acousticness }}
                    </td>
                    <td>{{ track.features.instrumentalness }}
                    </td>
                    <td>{{ track.features.liveness }}
                    </td>
                    <td>{{ track.features.valence }}
                    </td>
                    <td>{{ track.features.tempo }}
                    </td>
                    <td>{{ track.features.time_signature }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}